body
{
    font-size: 75%;
    font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/*  LOGIN -------------------------------------------------------------------------------- */
#login-bg
{
    /*background: url(img/login_bg.jpg) no-repeat top center; */
}
#login-holder
{
    margin: 0px auto 0 auto;
    width: 450px;
}
#loginbox
{
    background: url(img/loginbox_bg.png) no-repeat;
    font-size: 12px;
    height: 272px;
    line-height: 12px;
    margin-top: 30px;
    padding-top: 77px;
    position: relative;
    width: 450px;
}
#forgotbox
{
    background: url(img/loginbox_bg.png) no-repeat;
    display: none;
    font-size: 12px;
    height: 212px;
    line-height: 12px;
    margin-top: 30px;
    padding-top: 60px;
    position: relative;
    width: 508px;
}
#login-inner
{
    color: #161616;
    font-family: Tahoma;
    font-size: 16px;
    line-height: 12px;
    margin: 0 auto;
    width: 310px;
}
#login-inner label
{
    color: #161616;
    cursor: pointer;
    font-family: Tahoma;
    font-weight: bold;
    line-height: 12px;
    padding-left: 10px;
}
.checkbox-size
{
    width: 13px;
    height: 13px;
    margin: 5px 0;
}
#login-inner th
{
    padding: 0 0 6px 0;
    text-align: left;
    width: 95px;
    color: #Black;
}
#login-inner td
{
    padding: 0 0 6px 0;
}
#Username.login-inp
{
    background: url(img/inp_login.gif) no-repeat;
    border: none;
    color: #fff;
    font-size: 12px;
    height: 28px;
    padding: 8px 8px 0 10px;
    width: 204px;
}
#logo-login
{
    float: left;
    height: 35px;
    margin: 145px 0 0 15px;
}
a.forgot-pwd
{
    bottom: 30px;
    color: #161616;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    position: absolute;
    right: 40px;
}
a:hover.forgot-pwd
{
    color: #fff;
}
#forgotbox-text
{
    color: #161616;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;
    line-height: 12px;
    margin: 0 auto 40px auto;
    width: 380px;
}
#forgot-inner
{
    color: #161616;
    font-family: Tahoma;
    font-size: 13px;
    line-height: 12px;
    margin: 0 auto;
    width: 330px;
}
#forgot-inner label
{
    color: #161616;
    cursor: pointer;
    font-family: Tahoma;
    font-weight: bold;
    line-height: 12px;
    padding-left: 10px;
}
#forgot-inner th
{
    padding: 0 0 6px 0;
    text-align: left;
    width: 110px;
}
#forgot-inner td
{
    padding: 0 0 6px 0;
}
a.back-login
{
    background: url(img/icon_back_login.gif) no-repeat 0 4px;
    bottom: 30px;
    color: #161616;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
    padding: 0 0 0 10px;
    position: absolute;
    right: 40px;
}
a:hover.back-login
{
    color: #fff;
}
.submit-login
{
    background: url(img/submit_login.gif) no-repeat;
    border: none;
    cursor: pointer;
    display: block;
    height: 29px;
    text-indent: -3000px;
    width: 73px;
}
.submit-login:hover
{
    background: url(img/submit_login.gif) no-repeat 0 -29px;
}


.occtable tr td
{
    border: none;
}

.occtable
{
    margin: 0px;
}
.text-right
{
    text-align:right;
}