﻿h1, h2, h3, h4, h5, h6 {
    color: #E5E5E5;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    margin: 10px 0;
    text-rendering: optimizelegibility;
}
/* Modal */
.modal .modal-header {
  border-bottom: 1px solid #3A87AD;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3A87AD;
  background-image: -moz-linear-gradient(top, #3A87AD, #4A96BC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3A87AD), to(#4A96BC));
  background-image: -webkit-linear-gradient(top, ##3A87AD, #4A96BC);
  background-image: -o-linear-gradient(top, #3A87AD, #4A96BC);
  background-image: linear-gradient(to bottom,#3A87AD, #4A96BC);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f9950', endColorstr='#ff468847', GradientType=0);
  border-color: #468847 #468847 #2c552d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.modal-header h3 {
    line-height: 30px;
    margin: 0;
}
.modal .modal-body {
  color: #1a1819;
}
.modal-body {
    max-height: 400px;
    overflow-y: auto;
    padding: 15px;
    position: relative;
}
.modal .modal-footer {
  background-color: #dadbe0;
  border-top: 1px solid #d2d3d9;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.modal .modal-footer {
    background-color: #DADBE0;
    border-top: 1px solid #D2D3D9;
    box-shadow: none;
}
.modal-footer {
    background-color: #F5F5F5;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 #FFFFFF inset;
    margin-bottom: 0;
    padding: 14px 15px 15px;
    text-align: right;
}
.btn.btn-alt {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    background-image: linear-gradient(to bottom, #FFFFFF, #F7F7F7);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.25);
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: none;
    border-width: medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(255, 255, 255, 0.3) inset;
    color: #555555;
    padding: 5px 15px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.modal-body .validation-summary-errors
{
    color: #1A1819;
    font-family: 'PT Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;    
}